@media screen and (max-width: 960px) {

    .features__container {
        flex-direction: column;
    }

    .features__description {
        margin-top: 30px;

        &:nth-child(1) {
            margin-top: 0;
        }
    }

    .first__description {
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-item {
            &::after {
                transform: translate(-47%) !important;
            }
        }

        &-img {
            margin-top: 30px;
        }
    }
}